* {
 margin:0;
 padding: 0;
 box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0  auto;
}

header{
    background-color: #005f73;
    color: white;
    padding: 15px 0;
}

.head h4{
    margin-left:20px;
}
nav ul{
    display: flex;
    list-style: none;
}
 
nav ul li {
    margin-right: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}

#box{
    background-image: url(https://images.unsplash.com/photo-1604328698692-f76ea9498e76?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8b2ZmaWNlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D);
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.box-content{
    background-color:rgba(0, 0, 0, 0.5);
    padding:20px;
}

button{
    display: inline-block;
    padding: 4px;
    margin: 10px 0;
    background-color: #ee6c4d;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s linear;
}

button:hover{
    background-color: #d64b2a;
}

#end-part{
    background-color:#333;
    color: white;
    padding:15px 0;
    text-align: left;
}

#end-part h2{
    margin: 0 10px;
    color: #007bff;
}

#end-part p{
    padding: 4px 10px;
} 

#end-part ul{
    padding: 20px;
    list-style-type: circle;
}

#end-part li{
    margin: 10px;
}

#about{
    background-color: #727070;
    padding: 15px 0;
    text-align: left;
}

#about h2{
    margin: 0 10px;
    color: #28a745;
}

#about p{
    padding: 10px;
}

#contact{
    background-color: #333;
    padding: 20px;
text-align: left;
}

#contact h2{
    color:#dc3545;
    margin: 0 10px;
}

#contact p{
    padding: 5px;
    color: white;
}

footer{
    background-color: #005f73;
    padding: 10px;
    text-align: center;
}

#end-part li:hover,
#contact p:hover{
    color: #0056b3;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #end-part, #about , #contact {
        text-align: center;
    }

    #end-part ul {
        list-style-type: none;
        padding: 0;
    }
}
